.mapContainer{
    height:'100%' !important;
    width:100%;
  }
  .map {
    border: 1px solid green;
    border-radius: 10px;
    width:20px;
    height:'100%';
    width:'100%';
    
  }

  .Map{
      height:'100%';
      width:'100%';
  }