body {
  /* height: 90vh; */
  background-color: #fff;
 
}
.App {
  font-family: Arial, sans-serif;
  /* height:90vh; */
  /* margin: 0 20px; */
  height:100%;
}

header {
  background-color: black;
  padding: 10px 10px 0px;
  display: flex;
  justify-content: space-between;
}

header h1 {
  margin: 0 10px;
  color: white;
  font-size: 20px;
  /* gggggggg */
}
header p {
  padding: 0px;
  color: white;
  display: none;
  /* gggggggg */
}

header img {
  height: 30px;
  padding: 0px 20px 0px 10px;
}

.inner{
 display:flex;
 flex-direction:column;
}


.treeContainer {
  border-radius: 10px;
  border: 1px solid green;
  background-color: rgb(224, 238, 245);
  height: 550px;
}
.treeContainer h3 {
  margin: 0;
  margin-top: 5px;
  padding-left: 20px;
  font-size: 20px;
}
.tree-inner {
  overflow-y: scroll;
  height: 360px;
  background-color: #f0e3f5;
  padding: 3px 20px;
  margin-top: 20px;
}

.filters {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.filters select{
  width:100px;
  border:1px solid lightgrey;
  padding:0 5px;
  margin:0 5px;
  
}
.boros {
  display: inline-flex;
  justify-content: center;
}
.zip {
  margin-left: 10px;
}
.status {
  margin-top: 3px;
  display: flex;
  justify-content: center;
}
.stslist{
  margin-right:10px;
}

.health {
  margin-left: 20px;
}
.popup {
  background-color: lightyellow;
  padding: 5px;
}
button {
  border-radius: 5px;
}
.tree {
  padding: 3px;
}
.tree-info {
  display: flex;
}
.tree h5 {
  margin: 5px 0px;
}
.tree-status {
  display: flex;
  justify-content: space-around;
}
.tree-status p {
  margin: 5px 0px;
  font-size: 13px;
}
/* .tree-pin{
  filter: contrast(0) sepia(50) saturate(100) hue-rotate(10deg);
} */

body {
  background: #fff;
}

.tree-pin {
  margin: 0;
  color: transparent;
  text-shadow: 0 0 1px rgb(225, 230, 196);
  font-size: 6px;
  position: relative;
}

.tree-pin::before {
  content: attr(title);
  position: absolute;
  /* text-shadow: 0 0 0 #fff; */
}

.mrkr-alive {
  font-size: 8px;
}

/* for IPAD and above*/
@media only screen and (min-width: 1024px) {
 .filters{
   flex-direction:row;
   justify-content: space-between;
 }
 .inner{
  flex-direction: row;
 }
 .mapContainer{
   height:900px;
   width:50%;
 }
}