body {
  height: 90vh;
  background-color: #fff;
}
.App {
  font-family: 'Roboto', sans-serif;
  padding: 0 10px;
  
  
}

header {
  background-color: black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  /* position:fixed; */
  
}

header h1 {
  margin: 0 10px;
  color: white;
  font-size: 20px;
  font-family: 'Noto Serif SC', serif;
}

header p {
  padding: 0px;
  color: white;
  display: none;
}

header img {
  height: 30px;
  padding: 0px 20px 0px 10px;
}

.filters{
  width:80%;
  margin:0 auto;
}
.inner {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  width:80%;
  margin:0 auto;
}

.treeContainer {
  border: 1px solid black;
  width: 100%;
  border-radius: 10px;
  background-color: rgb(231, 240, 243);
  height: 570px;
  

}

.tree-inner {
  overflow-y: scroll;
  height: 550px;
  margin-top: 10px;
  width:100%;
}

.tree {
  padding: 3px;
  display: flex;
  justify-content: space-around;
  width:100%;
  /* padding:30px; */
  /* background-color:lightblue; */
}

.tree p {
  margin: 5px 0px;
  flex: 1;
  font-size: 10px;
  padding-left: 10px;
}

.tree-status p {
  margin: 5px 0px;
  font-size: 13px;
}
.mapContainer {
  margin-bottom: 20px;
  
}
.mapContainer > div {
  height: 720px;
  width: 100%;
}
.filters {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.filters select {
  width: 100px;
  border: 1px solid lightgrey;
  padding: 0 5px;
  margin: 0 5px;
}
.boros {
  display: inline-flex;
  justify-content: center;
}
.zip {
  margin-left: 10px;
}
.status {
  margin-top: 3px;
  display: flex;
  justify-content: center;
}
.stslist {
  margin-right: 10px;
}

.health {
  margin-left: 20px;
}
.popup {
  background-color: lightyellow;
  padding: 5px;
}
button {
  border-radius: 5px;
}

/* .tree-pin{
  filter: contrast(0) sepia(50) saturate(100) hue-rotate(10deg);
} */

body {
  background: #fff;
}

.tree-stmp {
  margin: 0;
  color: transparent;
  text-shadow: 0 0 1px yellow;
  font-size: 6px;
  position: relative;
}

.tree-stmp::before {
  content: attr(title);
  position: absolute;
  text-shadow: black;
}

.tree-dead {
  margin: 0;
  color: transparent;
  text-shadow: 0 0 1px rgb(236, 118, 8);
  font-size: 6px;
  position: relative;
}

.tree-dead::before {
  content: attr(title);
  position: absolute;
  text-shadow: black;
}
/* 
.treepin{
  height:5px;
  width:5px;
  background-color:green;
} */
.mrkr-alive {
  font-size: 8px;
}

/* for IPAD and above*/
@media only screen and (min-width: 1024px) {
  .App {
    margin: 0 30px;
  }
  header{
    padding:10px 30px;
  }
  header p{
    display:inline;
    margin:5px 0 0 0;
  }
  .filters {
    flex-direction: row;
    justify-content: space-between;
  }

  .inner {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .mapContainer > div {
    height: 700px;
  }
  .mapContainer{
    margin-bottom:0px;
  }
}
