body {
  
  height: 90vh;
  background-color: #FFF;
  /* background-image: url('../assets/elmtrees.jpg');
  background-repeat: no-repeat;
  background-size: cover; */

}
.App {
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
  height:90vh;
  margin: 10px 60px;
}

.mapContainer {
  flex: 5;
}
header{
  background-color:black;
  padding:10px 30px 0px;
  /* text-align: center; */
  display:flex;
  justify-content:space-between;
}

header h1{
  margin:0 auto;
  color:white;
  
}
header p{
  padding:0px;
  color:white;
}

header img{
  height:50px;
  padding:0px 20px;
}
.map {
  border: 1px solid green;
  border-radius: 20px;
}

.treeContainer {
  flex: 3;
  
  border-radius:20px;
  border:1px solid green;
  background-color:rgb(224, 238, 245);
  height:550px;

}
.treeContainer h3 {
    margin:0;
    margin-top:5px;
    padding-left:20px;
    font-size:20px;
    
}
.tree-inner{
  overflow-y: scroll;
  height:360px;
  background-color: #f0e3f5;
  padding:3px 20px;
  margin-top:20px;

}

.filters{
  display:flex;
  flex-direction: column;
  padding:20px ;
}
.boros{
  display:flex;
}
.zip{
  margin-left:10px;
}
.status{
  margin-top:10px;
  display:flex;
 
}

.species{
  display:flex;
  margin-top:20px;

}
.health{
  margin-left:20px;
}
.popup {
  background-color: lightyellow;
  padding: 5px;
  
}
button{
  border-radius:5px;
}
.tree{
  padding:3px;
}
.tree-info{
  display:flex;
}
.tree h5 {
  margin:5px 0px;
}
.tree-status{
  display:flex;
  justify-content: space-around;
}
.tree-status p{
  margin:5px 0px;
  font-size:13px;
}
/* .tree-pin{
  filter: contrast(0) sepia(50) saturate(100) hue-rotate(10deg);
} */

body {
  background: #fff;
}

.tree-pin {
  margin: 0;
  color: transparent;
  text-shadow: 0 0 1px rgb(47, 33, 33);
  font-size: 6px;
  position: relative;
}

.tree-pin::before {
  content: attr(title);
  position: absolute;
  /* text-shadow: 0 0 0 #fff; */
}

.mrkr-alive{
  font-size:8px;
}
